  .font {
    font-family: 'Copperplate', fantasy !important;
    font-style: italic;
    letter-spacing: 2px;
  }

  .poppins {
    font-family: 'Poppins' !important;
    text-decoration: none;
  }
  .sora {
    font-family: 'Sora' !important;
  }
  .containers {
    height: 30%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    position: relative;
  }

  .left {
    text-align: left;
  }

  .form-rounded {
    border-radius: 2rem;
  }

  .custom-button {
    padding-left: 35%;
    padding-right: 35%;
    position: center;
  }

  .custom-button1 {
    padding-left: 25%;
    padding-right: 25%;
    position: center;
  }