  .font {
    font-family: 'Copperplate', fantasy !important;
    font-style: italic;
    letter-spacing: 2px;
  }

  .containers {
    height: 30%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    position: relative;
  }

  .left {
    text-align: left;
  }